#cart {
    height: 500px;
    width: 950px;
    /*background-color: gray;*/
    margin: 50px 200px 5px 200px;
}
.btn {
    margin-left: 1000px;
    margin-bottom: 50px;
}
/*Footer's Code --------------------------> */

footer {
    font-size: 12px;
    padding: 20px 0;
    /*background-image: url("http://cdn.ek.aero/us/english/images/New-York-1_tcm272-2256848.jpg");*/
    
    color: #FFF;
    background: black;
    -webkit-font-smoothing: antialiased;
    /*margin-top: 20px; */
}
footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}
footer ul {
    list-style: none;
}
footer li img {
    width: 32px;
    height: 32px;
}
footer .col-sm-4 {
    color: #FFF;
}
/*.col-sm-6 {*/
/*   font-family: Cursive;  */
/*   text-align: center;*/
/*   border: 2px solid black;*/
/*   font-size: 14px;*/
/*}*/

footer .row {
    display: flex;
    align-items: center;
}
/*------------------------------------->*/
/*<!----------------Navigation & Navbar--------------------------->*/

header {
    padding: 20px;
}
header .row {
    display: flex;
    align-items: center;
}
header h5 {
    font-weight: 700;
    margin: 0;
    font-family: Cursive;
    color: black;
}
header nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 800;
    /*letter-spacing: 1px;*/
}
header p {
    /*padding: 0 5px;*/
    
    margin-left: 3px;
    margin: 0;
    color: black;
}
header a:hover {
    text-decoration: none;
}
a {
    margin: 4px;
    color: black;
}
p {
    color: black;
    margin: 0 0 0;
}
/*<!-----------------End--------------------------------------------->*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #fff;
    margin-bottom: -20px;
}
.form-group {
    width: 250px;
    margin-left: -25px;
    margin-top: 40px;
}